.grid {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 12rem;
    position: absolute;
    display: grid;
    grid-template-columns: 6fr 5fr 15fr 6fr 5fr;
    grid-template-rows: 1.5fr 3fr 3fr;
}

.backgroundcolor {
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    background-color: rgba(248, 248, 248, 0.648);
    z-index: -3;
}

.menu {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bluebar {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contact {
    grid-column: 4 / 5;
    grid-row: 2/ 4;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    align-items: center;
    justify-content: center;
    display: flex;
}

.gridhome {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: 6fr 27fr 5fr;
    grid-template-rows: 12rem 40rem;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

@media screen and (max-width: 650px) {
    .grid {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 25px 6rem ;
    }

    .backgroundcolor {
        grid-column: 1 / 2;
        grid-row: 2 / 3; 
        visibility: hidden
    }
    .menu { 
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        visibility: hidden;
    }
    .search { 
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        visibility: hidden
    }
    .bluebar { 
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        height: 25px;
    }
    .contact { 
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        visibility: hidden
    }
    .logo { 
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .gridhome {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 8rem 1fr;
    } 
    .header { }
    .content { }
    .burger {
        display: flex; /* burger verschijnt */
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        grid-column: 3 / 4;
        grid-row: 2 / 3;

    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
    }

    .burger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #000;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .mobile-menu {
        flex-direction: column;
        display: none;
        align-items: center;
        position: absolute;
        top: 8rem; /* onder header */
        left: 0;
        right: 0;
        background-color: #0079e4;
        z-index: 1000;
    }

    .mobile-menu.active {
        display: flex;
    }

    /* Verberg desktop menu */
    .menu {
        display: none;
    }
}
